<%- include("partials/header.ejs", {info: info})%>

<div class="frontPage__container">

  <div class="frontPage__container__upperPolygon"></div>
  <div class="frontPage__container__lowerPolygon"></div>

  <div class="frontPage__container__presentation ">
    <p class="frontPage__container__presentation__text">
      <span>Anything</span>
      <span>by</span>
      <span>Anyone</span>
      <span>for</span>
      <span>Everyone</span>
    </p>
    <div class="frontPage__container__presentation__image frontPage__container__presentation__image__wizard">
      <img src="/src/assets/home/vieil-homme-sorcier-robe-chapeau-se-tient-tenant-personnel-style-dessin-anime-hibou_118421-316.png" alt="Vieux sorcier avec un bâton et un hibou">
      </div>
    </div>

    <div class="frontPage__container__presentation ">
      <div class="frontPage__container__presentation__image frontPage__container__presentation__image__book">
        <img src="/src/assets/home/17843099-ai.png" alt="Livre qui émet des étincelles">
      </div>

        <div class="frontPage__container__presentation__bubble">
          <p class="frontPage__container__presentation__text --width100">Create and react to all kinds of topics. Our
            limit is your imagination.</p>
        </div>
      </div>

      <div class="frontPage__container__presentation ">
        <div class="frontPage__container__presentation__text">
          <p>Make friends and keep in touch with our built-in
            live chat
            tool.</p>
          <p>Well, maybe one day...</p>
        </div>

        <div class="frontPage__container__presentation__image frontPage__container__presentation__image__crystal">
          <img src="/src/assets/home/crystal-ball-emoji-clipart-lg.png" alt="Boule de cristal">
    </div>
        </div>

      </div>

      <%- include("partials/footer.ejs") %>
