</main>

<footer class="footer">
</footer>

<script src="https://kit.fontawesome.com/fbc6c59b09.js" crossorigin="anonymous"></script>
<script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
<script type="module" src="/dist/bundle.js"></script>
</body>

</html>
