<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/fbc6c59b09.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/src/css/reset.css">
  <link rel="stylesheet" href="/src/css/style.css">

  <title>Topics</title>

</head>
